@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-pink: #D83570;
  --primary-dark: rgba(255,255,255,0);
  --primary-purple: #781EA8;
  --primary-gray: #eeeeee;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*********************** NAVBAR ******************************/
nav {
  z-index: 2;
}

.logo {
  width: 16.25rem;
}

/*-------------- MENU LINKS ----------------*/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  font-size: 0.9rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4.5rem !important;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-pink);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-pink);
}

/*********************** HEADER ******************************/
.header-wrapper {
  position: relative;
  background: url('background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

/*---------------- TYPED-TEXT --------------------*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/*---------------- HEADER MAIN BUTTON --------------------*/
.btn-main {
  border: 1px solid var(--primary-purple);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
  text-decoration: none;
}

.btn-main:hover {
  text-decoration: none;
  background-color: var(--primary-purple);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/*---------------- PARTICLE JS --------------------*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/************************** ABOUT SECTION *********************************/
.about-wrapper {
  padding: 3rem;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}

/*------------ My IMAGE ----------------*/
.image-wrapper {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 18rem;
  padding: 2rem 0.2rem 0.2rem 0.2rem;
}

@media(min-width: 768px) {
  .image-wrapper {
   padding-left: 8rem !important;
  }
}

.my-image {
  max-width: 22rem;
  height: 22rem;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 50%;
  padding: 0.2rem;
  border: 0.02rem solid var(--primary-pink);
}

/*------------ ABOUT HEADING ------------*/
.about-heading {
  color: var(--primary-purple);
  text-transform: uppercase;
  font-size: 2rem;
}

/******************************* PROJECTS *******************************/
.projects-wrapper {
  text-align: center;
  padding: 3rem 8rem;
  background-color: var(--primary-gray);
  font-family: "Roboto Condensed", sans-serif;
}

@media(max-width: 768px) {
  .projects-wrapper {
    padding: 2rem;
  }
}

.projects-wrapper .col-lg-3, .projects-wrapper .col-md-6, .projects-wrapper .col-sm-12 {
  margin-bottom: 2rem;
}

/*--------------------- PROJECT HEADING --------------------*/
.projects-head {
  text-transform: uppercase;
  font-size: 2.2rem;
  margin: 1rem 0 3rem 0;
}

.project {
  border-bottom: 0.2rem solid var(--primary-pink);
  margin: 1rem;
  padding: 1rem;
  height: 100%;
  background-color: var(--primary-white);
  text-align: center;
  transition: all .2s ease-in-out;
}

.project .proj-title {
  font-size: 1.6rem;
}

.project .proj-info {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.project:hover {
  background-color: var(--primary-pink);
  color: var(--primary-white);
  transform: scale(1.05);
}
